<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="consumerkey" value="vMEUJR9PCfl0oLHXVwvuSw"/>
    <add key="consumersecret" value="OS4exc0CEkqqyqy10hxTNJ5TS2CuplWzGMotAhRM"/>
    <add key="accesstoken" value="323316284-wAONkIejWgugoAw7wkp2YJkTwcziOyLLrp0XQNCT"/>
    <add key="accesstokensecret" value="SEeNX8xwy5cp6N7hC5BjsaqBTOfnn0u7lhpKbeaU7Oevw"/>
    <add key="twitterauthorizeurl" value="https://api.twitter.com/oauth/authorize"/>
    <add key="statussampleurl" value="https://stream.twitter.com/1.1/statuses/sample.json"/>
    <add key="displayresultsinterval" value="10"/> <!-- in seconds -->
  </appSettings>
</configuration>